
# IDE
# Local data
# Logs
# OS
# Python
# Virtual environments
*$py.class
*.csv
*.db
*.log
*.py[cod]
*.so
*.sqlite
*.swo
*.swp
.DS_Store
.Python
.idea/
.vscode/
ENV/
Thumbs.db
__pycache__/
env/
strategy.log
tws_errors.log
venv/
